<div class="row">
    <div class="col-md-12 filters">
        Filters:
        <!--<div class="btn btn-default filter" data-filter="all">All</div>-->
        <div class="x-container"></div>
    </div>
</div>